* {
	margin: 0;
 	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
}
.game{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	background-image: url('../images/bg.jpg');
    background-size: cover;
}
	.game .header{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		height: 15vmin;
		width: 78vmin;
		font-size: 5vmin;
		box-sizing: border-box;
		border-bottom: 1px solid black;
		background-color: #292929;
		border-radius: 2vmin;
		font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
		color: #a0a0a0;
	}
		.game .gameName{
		color: #a0a0a0;
		font-size: 15vmin;
		font-weight: bold;
	    }
		.game .field {
		position: relative; 
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		height:  85vmin;
		width: 80vmin;
	    }
		.game .field .cell{
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 10vmin;
			height: 18vmin;
			width: 18vmin;
			margin: 1vmin;
			box-sizing: border-box;
			border-radius: 50vmin;
			background-color: #292929;
			transition: background-color 0.2s ease-in-out, height 0.2s, width 0.2s, margin 0.2s;
		}
	
		.game .field .cell.hightlight {
			height: 20vmin;
			width: 20vmin;
			margin: 0;
		}

		@keyframes hide{
			from{
				opacity: 1;
			}
			to {
				opacity: 0;
			}
		} 
	    .game .field .cell.animate{
	    	position: absolute;
	    	margin: 0;
	    	transition: left 0.5s, top 0.5s;
	    	animation-name: hide;
	    	animation-duration:  0.5s; 
	    	animation-fill-mode: forwards; 
	    }
		.game .field .cell[cell-count]{
			font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
			color: #d9dfc5;
		}
		.game .field .cell[cell-count="2"]{
			background-color: #98db57;
		}
		.game .field .cell[cell-count="4"]{
			background-color: #5cbee5;
		}
		.game .field .cell[cell-count="8"]{
			background-color: #ffc63e;
		}
		.game .field .cell[cell-count="16"]{
			background-color: #df6452;
		}
		.game .field .cell[cell-count="32"]{
			background-color: #6ad390;
		}
		.game .field .cell[cell-count="64"]{
			background-color: #f39b54;
		}
		.game .field .cell[cell-count="128"]{
			background-color: #ef7894;
		}
		.game .field .cell[cell-count="256"]{
			background-color: #48a18d;
		}
		.game .field .cell[cell-count="512"]{
			background-color: #b43eff;
		}
		.game .field .cell[cell-count="1024"]{
			background-color: #3e67a5;
		}
		.game .field .cell[cell-count="2048"]{
			background-color: #df1f48;
		}
		
		
		
		
		
		
		
		
		